<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.guiguegon.mapmodule">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="es.guiguegon.mapmodule.MapActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>
